html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #F4ECE7;
}

.container {
  width: 100%;
  height: 10vh;
  position: relative;
  transition: all 0.3s;
}

.menu-open {
  transform: translate(-230px, 0);
}

ul {
  list-style-type: none;
}

#menu {
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 230px;
  height: 100%;
  position: fixed;
  margin: 0;
  right: -230px;
  padding: 0px;
}

/* */
#menu li {
  display: block;
}

#menu li a {
  display: block;
  color: black;
  font-family: Bahnschrift;
  font-size: 1.5rem;
  padding: 10px 30px;
  border: 2px solid transparent;
  text-decoration: none;
}

/* */
#menu li a:hover,
#menu li a:focus {
  border-color: transparent;
  background: white;
  color: #756458;
}

/* Background for the 'burger' */
.toggle {
  display: block;
  position: absolute;
  left: -65px;
  cursor: pointer;
  background: white;
  padding: 15px 15px 10px;
}

.toggle .bar1,
.toggle .bar2,
.toggle .bar3 {
  width: 35px;
  height: 4px;
  background: #756458;
  margin-bottom: 8px;
  transition: all 0.4s;
}

/* change it to an x */
#menu.open .toggle .bar1 {
  transform: rotate(45deg) translate(8px, 11px);
}

#menu.open .toggle .bar2 {
  opacity: 0;
}

#menu.open .toggle .bar3 {
  transform: rotate(-45deg) translate(5px, -10px);
}

@media only screen and (min-width:750px) {

  /* 'burger' not displayed*/
  .toggle {
    display: none;
  }

  /*Menu in inline block (across top of screen)*/
  #menu {
    margin: 0;
    padding: 15px 0;
    width: 100%;
    display: inline-block;
    position: relative;
    right: 0;
  }

  /*Items on menu are also an inline-block (rather then under each other)*/
  #menu li {
    display: inline-block;
  }

  h1 {
    color: black;
    font-family: Bahnschrift;
  }

  /* Media quaires */